body {
    font-family: 'Roboto', sans-serif, 'historical-ligatures';
    margin: 0;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #ea9c9c;
    display: block;
}